<%= javascript_pack_tag 'ai_movie_routes' %>

<div data-w-id="02ff14d7-240d-bc19-0eb3-44418700514b" id="preloader">
  <h1 class="red-heading">AI-Flix is searching the database</h1>
  <div class="div-block-2">
    <div class="red-text-block">Actors: </div>
    <div class="white-text-block"><div id="actor-count"></div></div>
  </div>
  <div class="div-block-2">
    <div class="red-text-block">Movies: </div>
    <div class="white-text-block"><div id="movie-count"></div></div>
  </div>
</div>

<div class="container w-container">
  <div class="small-form">
    <h1 class="white-heading">AI-Flix can find the shortest path of movies that connect two actors</h1>
    
    <div id="actor-selections">
      <div id="actor-1"></div>
      <div id="actor-2"></div>
    </div>

    <h1 class="white-heading">Search Actors</h1>
    <div class="form w-form">
      <%= form_with url: '/actors/search', method: :get, class: "form" do |f| %>
        <%= f.text_field :query, class: "curved-text-field w-input", required: true %>
        <%= f.hidden_field :render, value: new_ai_movie_route_path %>
        <%= f.submit "Search", class: "small-submit-button w-button" %>
      <% end %>
    </div>

    <% if flash[:alert] %>
      <h1 class="white-heading" style="color: #e87c03"><%= flash[:alert] %></h1>
    <% end %>

    <div class="search-results">
      <%= display_actor_search_results(@actors) %>
    </div>
  </div>
</div>


