<div class="title">
  <h3><%= @path.name %></h3>
</div>

<div class="center">
  <h4>AI-Flix Found This Path</h4>
  <p><%= organize_path(@path) %></p>
</div>

<div class="list">
  <h4 id="list_title">Movies To Watch</h4>
    <% @path.movies.each do |m| %>
      <p><%= link_to m.title, movie_path(m), target: :_blank %></p>
    <% end %>
</div>

<div class="list">
  <h4 id="list_title">Actors in Path</h4>
    <% @path.actors.each do |a| %>
      <p><%= link_to a.name, actor_path(a), target: :_blank %></p>
    <% end %>
  <p><%= button_to "Delete Path", path_path(@path), method: :delete %></p>
</div>
