<div class="form">
  <h3>LogIn to AI-Flix</h3>

  <%= form_for @user, url: login_path do |f| %>
    <p><%= f.label :username %><br>
    <%= f.text_field :username %></p>

    <p><%= f.label :password %><br>
    <%= f.password_field :password %></p>

    <%= f.submit "Log In" %>
  <% end %>

  <p>Don't have an account?
  <%= link_to "Sign Up", new_user_path %></p>

  <p>Have a GitHub?
  <%= link_to "Sign in with Github", "/auth/github" %></p>
</div>
