<h3>LogIn to AI-Flix</h3>

<%= form_for(:user, url: login_path) do |f| %>
  <p><%= f.label :username %>
  <%= f.text_field :username %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password %></p>

  <%= f.submit "Log In" %>
<% end %>

<p>Don't have an account?</p>
<%= link_to "Sign Up", signup_path %>
