<div id="actors_search">
  <h3>AI-Flix Contains 206,172 Actors</h3>
  <h3>Search Actor By Name</h3>

  <%= form_with url: '/actors/search', method: :get do |f| %>
    <p><%= f.label :query, "Actor Name" %><br>
    <%= f.text_field :query %>
    <p><%= f.submit "Search" %></p>
  <% end %>

  <div class="actors_list">
    <%= display_actors_search_results(@actors) %>
  </div>
</div>