<div class="section">
  <div class="container-columns w-container">

    <div class="div-block">
      <h3 class="title-heading"><%= @actor.name %></h3>
      <%= image_tag("https://image.tmdb.org/t/p/original#{@actor.image}", class: "show-image") %>
      <%= link_to("IMDb Profile", "https://imdb.com/name/#{@actor.imdb_id}", class: "yellow-link", target: :blank) %>
    </div>

    <div class="data">
      <h2 class="red-heading small">Birthday</h2>
      <p class="data-info-large"><%= actor_birthday(@actor) %></p>
      <h2 class="red-heading small">Deathday</h2>
      <p class="data-info-large"><%= actor_deathday(@actor) %></p>
      <h2 class="red-heading small">Home Town</h2>
      <p class="data-info-large"><%= actor_birthplace(@actor) %></p>
      <h2 class="red-heading small">Biography</h2>
      <p class="data-info-large biography"><%= @actor.biography %></p>
    </div>
  </div>
</div>

<div class="movies w-container">
  <h2 class="red-heading small">Movies</h2>
  <div class="w-row">
    <%= display_movies_starred_in(@actor.movies) %>
  </div>
</div>

<div class="tmdb-section">
  <p class="tmdb-text">Data Brought To You By</p>
  <%= image_tag("tmdb.svg", width: "356", class: "tmdb-logo") %>
</div>