<h3><%= @actor[:name] %></h3>

<%= image_tag "https://image.tmdb.org/t/p/w300/#{@actor[:image]}" %>

<p>Birth Date: <%= @actor[:birthday] %></p>
<p>Birth Place: <%= @actor[:birthplace] %></p>
<p>Death Date: <%= @actor[:deathday].nil? ? "Still Living" : @actor[:deathday] %></p>


<h3>Biography</h3>
<p><%= @actor[:biography] %></p>
<p><%= link_to "Learn More", "https://imdb.com/name/#{@actor[:imdb_id]}", target: :_blank %></p>
