<% if @actor_data %>
  
  <div class="title">
    <h3><%= @actor_data[:name] %></h3>
  </div>

  <div class="image">
    <p><%= image_tag "https://image.tmdb.org/t/p/w300/#{@actor_data[:image]}" %></p>
  </div>

  <div class="center">
    <p><b>Birthday:</b> <%= actor_birthday(@actor_data) %></p>
    <p><b>Hometown:</b> <%= actor_birthplace(@actor_data) %></p>
    <p><b>Deathday</b> <%= actor_deathday(@actor_data) %></p>

    <h3>Biography </h3>
    <p class="main-paragraph"><%= @actor_data[:biography] %></p>
  </div>

  <div class="list">
    <h3 class="list-title">Movies</h3>
      <% @movies.each do |m| %>
        <p><%= link_to m.title, movie_path(m) %></p>
      <% end %><br>

    <h3 class="list-title">Learn More</h3>
    <p><%= link_to "IMDB Profile", "https://imdb.com/name/#{@actor_data[:imdb_id]}", target: :_blank %></p>
  </div>

  <div class="center">
    <br>
    <p>This data was provided by <%= link_to 'TMDB', 'https://themoviedb.org', target: :blank %></p>
    <p><%= image_tag 'tmdb.png', style: 'width: 50%;' %></p>
  </div>
  
<% else %>
  <div class="center">
    <p>Actor Data Doesn't Exist </p>
    <p><%= link_to "Search Actors", search_actors_path %></p>
  </div>
<% end %>