<div id="movies_search">
  <h3>AI-Flix Contains 45,466 Movies</h3>
  <h3>Search Movie By Title</h3>

  <%= form_with url: '/movies/search', method: :get do |f| %>
    <p><%= f.label :query, "Movie Title" %><br>
    <%= f.text_field :query %>
    <p><%= f.submit "Search" %></p>
  <% end %>
</div>

<div class="movies_list">
  <%= display_movies_search_results(@movies) %>
</div>
