<div class="title">
  <h3><%= @movie.title %></h3>
</div>

<p id="tagline"><%= @movie.tagline %></p>

<div class="image">
  <%= image_tag "https://image.tmdb.org/t/p/w300/#{@movie.image}" %>
</div>

<div>
  <h3>Movie Facts</h3>
    <p><b>Released On:</b> <%= movie_date(@movie) %></p>
    <p><b>Movie Budget:</b> <%= movie_budget(@movie) %></p>
    <p><b>Movie Profit:</b> <%= movie_profit(@movie) %></p>

  <h3>Overview</h3>
    <p class="main-paragraph"><%= @movie.overview %></p>
</div>

<div class="list">
  <h3 class="list-title">Actors</h3>
    <% @movie.actors.each do |a| %>
      <p><%= link_to a.name, actor_path(a) %></p>
    <% end %><br>

  <h3 class="list-title">Learn More</h3>
  <p><%= link_to "IMDB Profile", "https://imdb.com/title/#{@movie.imdb_id}", target: :_blank %></p>
</div>


<div class="list">
  <p class="list-title">Movie Reviews</p>
  <%= display_movie_reviews(@movie.reviews) %>
</div>

<div>
  <p>Leave A Movie Review</p>
  <%= form_with url: reviews_path do |f| %>
    <p><%= f.text_field :user_review %></p>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.submit "Submit Review" %>
  <% end %> <br>

  <p>Add Movie to Playlist</p>
  <p><%= link_to "Add to Playlist", select_playlist_path(@movie) %></p>
  <br>
  <p>This data was provided by <%= link_to 'TMDB', 'https://themoviedb.org', target: :blank %></p>
  <p><%= image_tag 'tmdb.png', style: 'width: 50%;' %></p>
</div>