<%= javascript_pack_tag 'ai_lists' %>
<div class="title">
  <h3>Generate a Movie Path</h3>
</div>

<p>AI-Flix generates a movie path by finding the shortest path of movies that connect two actors.</p>
<div id='actor_selections'>
  <div id="actor_1">Actor 1: </div>
  <div id="actor_2">Actor 2: </div>
</div>


<%= form_with url: '/actors/search', method: :get do |f| %>
    <p><%= f.label :query, "Actor Name" %><br>
    <%= f.text_field :query %>
    <%= f.hidden_field :render, value: new_ai_list_path %>
    <p><%= f.submit "Search" %></p>
<% end %>

<div id="actor_list">
  <%= display_actor_selection(@actors) %>
</div>