<div class="header">
  <h3>Welcome, <%= @user.username %></h3>
  <h3>E-mail: <%= @user.email %></h3>
</div>

<div class="list">
  <h3 id="list_title"><%= @user.username %>'s Playlists</h3>
  <% @user.paths.each.with_index(1) do |p, i| %>
    <p><%= "#{i}. " %><%= link_to p.name, path_path(p) %></p>
  <% end %>
  <p><%= link_to "Create New Playlist", new_path_path %></p>
</div>
