<h3>Generate Movie Playlist</h3>
<p>Choose Two Actors</p>

<%= form_tag playlists_path do %>
  <p><%= label_tag "Actor 1" %>
  <%= text_field_tag :actor_1, nil, list: "actors_autocomplete" %>
  <datalist id = "actors_autocomplete">
    <% Actor.all.each do |actor| %>
      <option value="<%= actor.name %>">
    <% end %>
  </datalist></p>

  <p><%= label_tag "Actor 2" %>
  <%= text_field_tag :actor_2, nil, list: "actors_autocomplete" %>
  <datalist id = "actors_autocomplete">
    <% Actor.all.each do |actor| %>
      <option value="<%= actor.name %>">
    <% end %>
  </datalist></p>

  <%= submit_tag "Create Playlist" %>
<% end %>
