<div class="center">
  <h3>Create A New Playlist</h3>
  <%= form_for(@playlist) do |f| %>
    <p><%= f.label :name, "Playlist Name" %></p>
    <p><%= f.text_field :name %></p>

    <%= hidden_field_tag 'playlist[user_id]', current_user.id %>

    <p><%= f.submit "Create Playlist" %></p>
  <% end %>
</div>
