<div >
  <%= form_for(@playlist) do |f| %>
  
    <p><%= f.label :name, "Playlist Name" %></p>
    <p><%= f.text_field :name %></p>

    <%= hidden_field_tag 'playlist[user_id]', current_user.id %>

    <div class="list">
      <% if !@playlist.movies.empty? %>
        <p class="list-title">Remove Movie?</p>
      <% @playlist.movies.each do |m| %>
        <p><%= m.title %>&nbsp &nbsp<%= link_to 'Remove', remove_movie_path(@playlist, m) %></p>
      <% end %>
    <% end%>
    </div>

    <p><%= f.submit %></p>
  <% end %>
</div>


