<!DOCTYPE html>
<html>
  <head>
    <title>AI-Flix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'stylesheet.css', media: 'all' %>
  </head>

  <body>
    <h1 id="main_title">AI-FLIX</h1>

    <div id="content">
      <% if logged_in? %>
        <div id="navbar">
          <%= link_to "Home", homepage_path %>
          <%= link_to "Actors", search_actors_path %>
          <%= link_to "Movies", search_movies_path %>
          <%= link_to "Playlists", user_playlists_path(current_user) %>
          <%= link_to "AI-Path", user_paths_path(current_user) %>
          <%= link_to "Log Out", logout_path %>
        </div>

        <% if flash[:alert] %>
          <div id="alert"><%= flash[:alert] %></div>
        <% end %>

      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
