<!DOCTYPE html>
<html>
  <head>
    <title>AI-Flix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'stylesheet.css', media: 'all' %>
  </head>

  <body>
    <h1 id="main_title">AI-FLIX</h1>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="content">
      <% if logged_in? %>
        <div class="navbar">
          <%= link_to "Home", homepage_path %>
          <%= link_to "Actors", actors_path %>
          <%= link_to "Movies", movies_path %>
          <%= link_to "Log Out", logout_path %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
